<hr />
<% if notice %>
<div class="alert fade in">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<%= notice %>
</div>
<% end %>

<div class="well">
	<p>
		<strong>作成したURL：　http://<%= request.host %>/<%= @url.access_token %></strong>
	</p>
	<ul>
		<% @url.links.each_with_index do |link, i| %>
		<li>リンク先<%= i +1 %>：　<%= link.address %>　表示回数（<%= link.count %>）</li>
		<% end %>
	</ul>
	<div class="media">
		<div class="pull-right">
			<%= link_to 'TOPへ戻る', root_path , :class => "btn" %>　
		</div>
	</div>

</div>